/* #region Generals */
* {
    margin: 0;
    padding: 0;
    font-family: 'Minion Pro'
}

*,
*::before,
*::after {
    box-sizing: border-box
}

*:focus {
    outline: none
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    position: relative;
    color: #212529
}

.body {
    width: 100%;
    height: max-content;
    background-color: #F1F5F6
}

a {
    color: unset;
    text-decoration: none !important
}

.flex-align-center {
    display: flex;
    align-items: center;
    vertical-align: middle
}

.flex-center {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: 0 auto;
    text-align: center
}

.absolute-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.txt-line-limit-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.txt-line-limit-2 {
    -webkit-line-clamp: 2
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1410px
    }
}

/* #endregion */

/* #region Bootstrap Frame */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

.col-auto {
    flex: 0 0 auto;
    width: auto
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

@media (min-width:576px) {
    .col-sm {
        flex: 1 0 0%
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:768px) {
    .col-md {
        flex: 1 0 0%
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:992px) {
    .col-lg {
        flex: 1 0 0%
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:1200px) {
    .col-xl {
        flex: 1 0 0%
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:1400px) {
    .col-xxl {
        flex: 1 0 0%
    }

    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

.position-static {
    position: static !important
}

.position-relative {
    position: relative !important
}

.position-absolute {
    position: absolute !important
}

.position-fixed {
    position: fixed !important
}

.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important
}

.p-sm-0 {
    padding: 0 !important
}

.d-inline {
    display: inline !important
}

.d-inline-block {
    display: inline-block !important
}

.d-block {
    display: block !important
}

.d-grid {
    display: grid !important
}

.d-inline-grid {
    display: inline-grid !important
}

.d-table {
    display: table !important
}

.d-table-row {
    display: table-row !important
}

.d-table-cell {
    display: table-cell !important
}

.d-flex {
    display: flex !important
}

.d-inline-flex {
    display: inline-flex !important
}

.d-none {
    display: none !important
}

@media (min-width:576px) {
    .d-sm-inline {
        display: inline !important
    }

    .d-sm-inline-block {
        display: inline-block !important
    }

    .d-sm-block {
        display: block !important
    }

    .d-sm-grid {
        display: grid !important
    }

    .d-sm-inline-grid {
        display: inline-grid !important
    }

    .d-sm-table {
        display: table !important
    }

    .d-sm-table-row {
        display: table-row !important
    }

    .d-sm-table-cell {
        display: table-cell !important
    }

    .d-sm-flex {
        display: flex !important
    }

    .d-sm-inline-flex {
        display: inline-flex !important
    }

    .d-sm-none {
        display: none !important
    }
}

@media (min-width:768px) {
    .d-md-inline {
        display: inline !important
    }

    .d-md-inline-block {
        display: inline-block !important
    }

    .d-md-block {
        display: block !important
    }

    .d-md-grid {
        display: grid !important
    }

    .d-md-inline-grid {
        display: inline-grid !important
    }

    .d-md-table {
        display: table !important
    }

    .d-md-table-row {
        display: table-row !important
    }

    .d-md-table-cell {
        display: table-cell !important
    }

    .d-md-flex {
        display: flex !important
    }

    .d-md-inline-flex {
        display: inline-flex !important
    }

    .d-md-none {
        display: none !important
    }
}

@media (min-width:992px) {
    .d-lg-inline {
        display: inline !important
    }

    .d-lg-inline-block {
        display: inline-block !important
    }

    .d-lg-block {
        display: block !important
    }

    .d-lg-grid {
        display: grid !important
    }

    .d-lg-inline-grid {
        display: inline-grid !important
    }

    .d-lg-table {
        display: table !important
    }

    .d-lg-table-row {
        display: table-row !important
    }

    .d-lg-table-cell {
        display: table-cell !important
    }

    .d-lg-flex {
        display: flex !important
    }

    .d-lg-inline-flex {
        display: inline-flex !important
    }

    .d-lg-none {
        display: none !important
    }
}

@media (min-width:1200px) {
    .d-xl-inline {
        display: inline !important
    }

    .d-xl-inline-block {
        display: inline-block !important
    }

    .d-xl-block {
        display: block !important
    }

    .d-xl-grid {
        display: grid !important
    }

    .d-xl-inline-grid {
        display: inline-grid !important
    }

    .d-xl-table {
        display: table !important
    }

    .d-xl-table-row {
        display: table-row !important
    }

    .d-xl-table-cell {
        display: table-cell !important
    }

    .d-xl-flex {
        display: flex !important
    }

    .d-xl-inline-flex {
        display: inline-flex !important
    }

    .d-xl-none {
        display: none !important
    }
}

@media (min-width:1400px) {
    .d-xxl-inline {
        display: inline !important
    }

    .d-xxl-inline-block {
        display: inline-block !important
    }

    .d-xxl-block {
        display: block !important
    }

    .d-xxl-grid {
        display: grid !important
    }

    .d-xxl-inline-grid {
        display: inline-grid !important
    }

    .d-xxl-table {
        display: table !important
    }

    .d-xxl-table-row {
        display: table-row !important
    }

    .d-xxl-table-cell {
        display: table-cell !important
    }

    .d-xxl-flex {
        display: flex !important
    }

    .d-xxl-inline-flex {
        display: inline-flex !important
    }

    .d-xxl-none {
        display: none !important
    }
}

/* #endregion */

.header {
    top: 0
}

/* .header-top,
.header-mid, */
.header-bot {
    display: flex;
    align-items: center;
    vertical-align: middle;
    position: relative;
    border-bottom: 1px solid #E5E8EC
}

.header-top {
    height: 40px
}

.header-top__left {
    position: absolute;
    left: 0;
    font-size: 13px;
    font-weight: 500;
    color: #515D66
}

.header-top__left span a {
    font-weight: 600;
    color: #212529;
    text-decoration: underline !important
}

.header-top__right {
    position: absolute;
    right: 0;
    font-size: 13px;
    font-weight: 500
}

.header-top__right div {
    margin-right: 20px;
    position: relative
}

.header-top__right--selector {
    padding-right: 15px
}

.header-top__right--selector:hover {
    opacity: .8;
    cursor: pointer
}

.header-top__right--selector img {
    height: 10px;
    width: 10px;
    position: absolute;
    top: calc(50% - 5px);
    right: 0
}

.header-top__right div:last-of-type {
    margin-right: 0
}

.cart__count {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #DD3842;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 18px;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    text-align: center
}












.banner-reg {
    padding-top: 30px;
    margin-bottom: 5px;
    position: relative
}

.banner-swiper img {
    width: 100%;
    height: auto;
    aspect-ratio: auto
}

.banner-swiper__text-ctn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 100%
}

.banner-swiper__supline {
    color: #FDE50B;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px
}

.banner-swiper__headline p {
    color: #FFF;
    font-size: 46px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -1.38px;
    margin-bottom: 0
}

.banner-swiper__headline p span {
    color: #17F084
}

.banner-swiper__button {
    width: 151.873px;
    height: 45px;
    padding: 10px;
    border-radius: 30px;
    background: #FFF;
    color: #212529;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 30px
}

.banner-swiper__button:hover {
    cursor: pointer;
    opacity: .8
}

.banner-swiper .swiper-container {
    position: static
}

.banner-swiper .swiper-pagination {
    bottom: 20px !important
}

.banner-swiper .swiper-pagination-bullet-active {
    background: #FFF !important
}

.banner-swiper .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    border-radius: 5px !important;
    background-color: rgb(255 255 255 / .2)
}

.banner-swiper .swiper-button-next,
.banner-swiper .swiper-button-prev {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFF;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center center
}

.banner-swiper .swiper-button-next:hover,
.banner-swiper .swiper-button-prev:hover {
    opacity: .9
}

.banner-swiper .swiper-button-next {
    right: 26px;
    background-image: url(../images/icons/ico-swiper-next.svg)
}

.banner-swiper .swiper-button-prev {
    left: 26px;
    background-image: url(../images/icons/ico-swiper-back.svg)
}

.category-reg {
    margin-bottom: 60px
}

.category-reg img {
    height: auto;
    width: 100%;
    aspect-ratio: auto;
    border-radius: 5px
}

.category-reg__txt-ctn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 35px 30px
}

.category-reg__txt-main {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 26px
}

.category-reg__txt-main p {
    margin-bottom: 0
}

.category-reg__txt-sup {
    font-size: 14px;
    font-weight: 500
}

.product-reg {
    display: grid;
    gap: 5px;
    padding-bottom: 60px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr)
}

.product-reg>div {
    height: 100%
}

.product-reg__side {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto
}

.product-reg__mid {
    display: grid;
    column-gap: 0;
    gap: 0;
    grid-template-columns: auto;
    height: 100%
}

.probox {
    height: max-content;
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    padding: 20px;
    position: relative;
    color: #212529;
    aspect-ratio: auto;
}

.probox:hover {
    cursor: pointer;
    opacity: .85
}

.probox--main {
    height: 100%
}

.probox__offer {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #E5E8EC;
    height: 28px;
    margin-bottom: 12px;
}

.probox__gift {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid#E5E8EC;
    background: #FFF;
    position: absolute;
    background-image: url(../images/icons/ico-gift.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center center;
    top: 20px;
    right: 20px
}

.probox__tag {
    width: 55px;
    height: 25px;
    text-align: center;
    border-radius: 2px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    position: absolute;
    top: 20px;
    left: 20px
}

.probox--main .probox__gift,
.probox--main .probox__tag {
    top: 62px;
}

.probox__tag--sale {
    background: #DC323C
}

.probox__tag--new {
    background: #008A00
}

.probox img {
    height: auto;
    width: 100%;
    aspect-ratio: auto;
}

.probox__img {
    min-height: 152px;
}

.probox__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 16px
}

.probox__rating {
    color: #8D979E;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    margin-bottom: 4px;
    padding-left: 68px;
    background-image: url(../images/icons/ico-5-star.svg);
    background-position: left center;
    background-size: auto 12px;
    background-repeat: no-repeat;
}

.probox__price {
    margin-bottom: 10px;
    color: #2B38D1;
    font-size: 18px;
    font-weight: 600
}

.probox__price--sale {
    color: #DC323C;
    font-size: 18px;
    font-weight: 600
}

.probox__price--origin {
    color: #505B5E;
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: line-through
}

.probox__status {
    color: #515D66;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 2px
}

.probox__status--quant {
    color: #212529;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px
}

.probox__status--instock {
    color: #008A00;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px
}

.probox__status--outofstock {
    color: #E01600;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px
}

.probox__counttxt {
    color: #515D66;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px
}

.countdown-container {
    margin: 9px 0 18px 0
}

.countdown-container li {
    display: inline-block
}

.countdown-container li i span {
    width: 45px;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background-color: #DC323C;
    border-radius: 3px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center
}

.countdown-container li:nth-of-type(2n) i span {
    color: #000
}

.countdown-seperator {
    width: 19px !important;
    height: 25px !important;
    background-color: transparent !important
}

.skillbar {
    height: 5px;
    border-radius: calc(5px / 2);
    overflow: hidden;
    background: #F3F4F6;
    margin-bottom: 4px
}

.count-bar {
    height: 5px;
    border-top-left-radius: calc(5px / 2);
    background-color: #EF262C
}

.footer {
    color: #515D66;
    font-size: 14px;
    font-weight: 500
}

.foottop p {
    margin-bottom: 0
}

.foottop {
    padding: 59px 0;
    border-bottom: 1px solid #E5E8EC
}

.foottop__title {
    color: #212529;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px
}

.foottop__page {
    margin-bottom: 10px
}

.foottop__page a {
    color: #515D66;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px
}

.foottop__page a:hover {
    color: #212529;
    text-decoration: underline !important
}

.foottop__phone {
    margin: 7px 0 21px 0
}

.foottop__phone a {
    color: #2B38D1;
    font-size: 30px;
    font-weight: 500
}

.foottop__sub {
    margin: 24px 0
}

.foottop__sub input {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #E5E8EC;
    background: #FFF;
    padding: 0 20px;
    margin-right: 10px
}

.foottop__sub input::placeholder {
    color: #8D979E;
    font-size: 13px;
    font-weight: 500
}

.foottop__subbtn {
    width: 140px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    background: #2B38D1;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase
}

.foottop__subbtn:hover {
    cursor: pointer;
    opacity: .8
}

.footbot {
    padding: 41px 0;
    position: relative
}

.footbot__left {
    position: absolute;
    left: 0
}

.footbot__right {
    position: absolute;
    right: 0
}

.footbot__right img {
    height: 30px;
    width: auto;
    aspect-ratio: auto;
    margin-right: 5px
}

.footbot__right img:first-of-type {
    margin-left: 19px
}

.footbot__right img:last-of-type {
    margin-right: 0
}

@media (max-width:1200px) {
    .header-mid {
        height: 80px
    }

    .product-reg {
        grid-auto-flow: row;
        grid-template-columns: auto auto
    }

    .product-reg>div:nth-of-type(2) {
        position: sticky;
        top: 16px
    }
}

@media (max-width:992px) {
    .product-reg {
        grid-auto-flow: row
    }

    .category-reg {
        margin-bottom: 20px;
        padding-top: 20px
    }

    .countdown-container li i span {
        width: 35px;
        height: 30px
    }
}

@media (max-width:768px) {
    .header-mid {
        height: 68px
    }

    .header-mid__logo {
        left: 12px
    }

    div.header-mid__ops:last-of-type {
        margin-right: 12px
    }

    .footbot__left {
        left: 12px
    }

    .product-reg {
        grid-template-columns: auto;
        grid-auto-flow: unset
    }

    .product-reg>div:nth-of-type(2) {
        position: static;
        top: unset
    }
}