/* #region Generals */
* {
    margin: 0;
    padding: 0;
    font-family: 'Minion Pro', Minion Pro, Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box
}

*:focus {
    outline: none
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    position: relative;
    color: #212529
}

.body {
    width: 100%;
    height: max-content;
    background-color: #F5F4EB;
}

a {
    color: unset;
    text-decoration: none !important
}

.flex-align-center {
    display: flex;
    align-items: center;
    vertical-align: middle
}

.flex-center {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: 0 auto;
    text-align: center
}

.absolute-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.txt-line-limit-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.txt-line-limit-2 {
    -webkit-line-clamp: 2
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1410px
    }
}

/* #endregion */

/* #region Bootstrap Frame */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

.col-auto {
    flex: 0 0 auto;
    width: auto
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

@media (min-width:576px) {
    .col-sm {
        flex: 1 0 0%
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:768px) {
    .col-md {
        flex: 1 0 0%
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:992px) {
    .col-lg {
        flex: 1 0 0%
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:1200px) {
    .col-xl {
        flex: 1 0 0%
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:1400px) {
    .col-xxl {
        flex: 1 0 0%
    }

    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

.position-static {
    position: static !important
}

.position-relative {
    position: relative !important
}

.position-absolute {
    position: absolute !important
}

.position-fixed {
    position: fixed !important
}

.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important
}

.p-sm-0 {
    padding: 0 !important
}

.d-inline {
    display: inline !important
}

.d-inline-block {
    display: inline-block !important
}

.d-block {
    display: block !important
}

.d-grid {
    display: grid !important
}

.d-inline-grid {
    display: inline-grid !important
}

.d-table {
    display: table !important
}

.d-table-row {
    display: table-row !important
}

.d-table-cell {
    display: table-cell !important
}

.d-flex {
    display: flex !important
}

.d-inline-flex {
    display: inline-flex !important
}

.d-none {
    display: none !important
}

@media (min-width:576px) {
    .d-sm-inline {
        display: inline !important
    }

    .d-sm-inline-block {
        display: inline-block !important
    }

    .d-sm-block {
        display: block !important
    }

    .d-sm-grid {
        display: grid !important
    }

    .d-sm-inline-grid {
        display: inline-grid !important
    }

    .d-sm-table {
        display: table !important
    }

    .d-sm-table-row {
        display: table-row !important
    }

    .d-sm-table-cell {
        display: table-cell !important
    }

    .d-sm-flex {
        display: flex !important
    }

    .d-sm-inline-flex {
        display: inline-flex !important
    }

    .d-sm-none {
        display: none !important
    }
}

@media (min-width:768px) {
    .d-md-inline {
        display: inline !important
    }

    .d-md-inline-block {
        display: inline-block !important
    }

    .d-md-block {
        display: block !important
    }

    .d-md-grid {
        display: grid !important
    }

    .d-md-inline-grid {
        display: inline-grid !important
    }

    .d-md-table {
        display: table !important
    }

    .d-md-table-row {
        display: table-row !important
    }

    .d-md-table-cell {
        display: table-cell !important
    }

    .d-md-flex {
        display: flex !important
    }

    .d-md-inline-flex {
        display: inline-flex !important
    }

    .d-md-none {
        display: none !important
    }
}

@media (min-width:992px) {
    .d-lg-inline {
        display: inline !important
    }

    .d-lg-inline-block {
        display: inline-block !important
    }

    .d-lg-block {
        display: block !important
    }

    .d-lg-grid {
        display: grid !important
    }

    .d-lg-inline-grid {
        display: inline-grid !important
    }

    .d-lg-table {
        display: table !important
    }

    .d-lg-table-row {
        display: table-row !important
    }

    .d-lg-table-cell {
        display: table-cell !important
    }

    .d-lg-flex {
        display: flex !important
    }

    .d-lg-inline-flex {
        display: inline-flex !important
    }

    .d-lg-none {
        display: none !important
    }
}

@media (min-width:1200px) {
    .d-xl-inline {
        display: inline !important
    }

    .d-xl-inline-block {
        display: inline-block !important
    }

    .d-xl-block {
        display: block !important
    }

    .d-xl-grid {
        display: grid !important
    }

    .d-xl-inline-grid {
        display: inline-grid !important
    }

    .d-xl-table {
        display: table !important
    }

    .d-xl-table-row {
        display: table-row !important
    }

    .d-xl-table-cell {
        display: table-cell !important
    }

    .d-xl-flex {
        display: flex !important
    }

    .d-xl-inline-flex {
        display: inline-flex !important
    }

    .d-xl-none {
        display: none !important
    }
}

@media (min-width:1400px) {
    .d-xxl-inline {
        display: inline !important
    }

    .d-xxl-inline-block {
        display: inline-block !important
    }

    .d-xxl-block {
        display: block !important
    }

    .d-xxl-grid {
        display: grid !important
    }

    .d-xxl-inline-grid {
        display: inline-grid !important
    }

    .d-xxl-table {
        display: table !important
    }

    .d-xxl-table-row {
        display: table-row !important
    }

    .d-xxl-table-cell {
        display: table-cell !important
    }

    .d-xxl-flex {
        display: flex !important
    }

    .d-xxl-inline-flex {
        display: inline-flex !important
    }

    .d-xxl-none {
        display: none !important
    }
}

/* #endregion */

/* #region Header */
.header {
    top: 0;
    height: 72px;
    padding: 0 32px;
    user-select: none;
}

.logo-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    text-align: center;
    color: #242322;
}

.header-left {
    position: absolute;
    right: unset;
    left: 32px;
    height: 100%;
}

.header-right {
    position: absolute;
    left: unset;
    right: 32px;
    height: 100%;
}

.h-ico {
    cursor: pointer;
    transition: all 0.3s;
}

.h-ico img {
    padding-right: 10px;
}

.h-ico img:hover {
    opacity: 0.8;
}

.h-ico.first {
    margin-right: 10px;
    border-right: 1px solid #cdcdcd;
}

/* #endregion */

/* #region Banner */

.banner {
    position: relative;
}

.banner img {
    height: auto;
    width: 100vw;
    aspect-ratio: auto;
}

.banner__info {
    width: 640px;
    height: 302px;
    bottom: 32px;
    left: 32px;
    border: 1px solid #000;
    background-color: #F5F4EB;
    position: absolute;
    padding: 32px;
}

.banner__info--intro {
    font-size: 19px;
    font-weight: 500;
    line-height: 21.85px;
    padding-bottom: 16px;
    color: #3B403D;
}

.banner__info--title {
    font-size: 39px;
    font-weight: 600;
    line-height: 48.36px;
    position: relative;
    padding-bottom: 24px;
    border-bottom: 1px solid #877D74;
    margin-bottom: 32px;
}

.banner__info--title a {
    font-size: 19px;
    font-weight: 600;
    line-height: 23.75px;
    text-align: left;
    color: #3B403D;
    position: absolute;
    right: 0;
    transition: all 0.5s;
}

.banner__info--title a:hover {
    opacity: 0.8;
    text-decoration: underline !important;
}

.banner__info--content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #3B403D;
}

/* #endregion */
.general-title__sub {
    font-size: 19px;
    font-weight: 500;
    line-height: 21.85px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 16px;
}

.general-title {
    font-size: 39px;
    font-weight: 600;
    line-height: 48.36px;
    text-align: left;
    color: #242322;
    padding: 48px 32px;
    position: relative;
}

/* #region Gallery box */
.gallery-box {
    border-right: 1px solid #877D74;
    border-bottom: 1px solid #877D74;
}

.gallery-box:hover {
    opacity: 0.8;
}

.gallery-box img {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
}

.gallery-box__title {
    font-size: 23px;
    font-weight: 600;
    line-height: 27.6px;
    color: #242322;
    padding: 32px 24px;
}

/* #endregion */


/* #region Gallery-show */
.gallery-show {
    height: max-content;
    width: 100vw;
}

.gallery-show .left {
    width: 50%;
    height: fit-content;
}

.gallery-show .left img {
    width: 100%;
    height: fit-content;
    aspect-ratio: auto;
}

.gallery-show .right {
    width: 50%;
    height: auto;
    border: 1px solid #877D74;
}

/* #endregion */

.gallery__info {
    width: 100%;
    height: auto;
    bottom: 32px;
    left: 32px;
    border-bottom: 1px solid #000;
    background-color: #F5F4EB;
    padding: 32px;
}

.gallery__info--intro {
    font-size: 19px;
    font-weight: 500;
    line-height: 21.85px;
    padding-bottom: 16px;
    color: #3B403D;
}

.gallery__info--title {
    font-size: 39px;
    font-weight: 600;
    line-height: 48.36px;
    position: relative;
}

.gallery__info--title a {
    font-size: 19px;
    font-weight: 600;
    line-height: 23.75px;
    text-align: left;
    color: #3B403D;
    position: absolute;
    right: 0;
    transition: all 0.5s;
}

.gallery__info--title a:hover {
    opacity: 0.8;
    text-decoration: underline !important;
}




.gallery__content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #3B403D;
    padding: 32px;
}






.lst-item {
    padding: 0 32px;
}

.item-box {
    cursor: pointer;
}

.item-box:hover {
    opacity: 0.8;
}

.item-box .new-tag,
.item-box .hot-tag {
    position: absolute;
    height: 40px;
    font-size: 19px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #fff;
    padding: 0 16px;

}

.item-box .new-tag {
    left: 32px;
    top: 32px;

    width: 120px;
    background-color: #6E82CC;
}

.item-box .hot-tag {
    left: 184px;
    top: 32px;

    width: 80px;
    background-color: #CE6060;
}



.item-box img {
    height: auto;
    width: 100%;
}

.item-box__title {
    font-size: 23px;
    font-weight: 600;
    line-height: 27.6px;
    text-align: left;
    color: #242322;
}

.item-box__price {
    font-size: 19px;
    font-weight: 500;
    line-height: 21.85px;
    text-align: left;
    color: #3B403D;
}


.item-box.bordered {
    border: 1px solid #877D74;
}

.item-box.bordered.n-t {
    border-top: none;
}

.item-box.bordered.n-r {
    border-right: none;
}

.item-box.bordered.n-b {
    border-bottom: none;
}

.item-box.bordered.n-l {
    border-left: none;
}

.item-box__title.p32 {
    padding: 32px;
}

.item-box__price.p32 {
    padding: 32px;
}


/* #region breadcrumbs  */
ul.breadcrumb-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 48px 0 0 32px;
}

ul.breadcrumb-nav li {
    display: inline
}

ul.breadcrumb-nav li+li {
    margin-left: 18px
}

ul.breadcrumb-nav li+li:before {
    content: ">";
    font-size: 19px;
    position: absolute;
    margin: -1px 0 0 -15px;
}

ul.breadcrumb-nav li a {
    font-size: 19px;
    font-weight: 500;
    line-height: 21.85px;
    text-align: center;
}

ul.breadcrumb-nav li a:hover {
    opacity: 0.8;
}

/* #endregion */

/* #region category */
.category-list-item {
    display: grid;
    gap: 0px;
    grid-template-columns: auto auto auto auto;
    position: relative;
}


.category-top {
    display: grid;
    gap: 0px;
    grid-template-columns: auto 50%;
    position: relative;
}

.category-top__content {
    font-size: 19px;
    font-weight: 500;
    line-height: 21.85px;
    text-align: left;
    padding: 48px 32px;
}

.category-top__content a {
    font-size: 19px;
    font-weight: 600;
    line-height: 23.75px;
    display: block;
    margin-top: 18px;
}

.category-desc a:hover {
    opacity: 0.8;
}






.category-filter {
    display: grid;
    gap: 0px;
    grid-template-columns: auto 50%;
    padding: 24px 32px;
}

.category-filter__total {
    font-size: 27px;
    font-weight: 600;
    line-height: 42px;
    /* Must have height with dropdowns */
}

.category-filter__dropdowns {}

/* #region Dropdown */
.dropDown-wrapper-QR {
    position: relative;
    height: 42px;
    width: max-content;
    border-radius: 100px;
    float: right;
}

/* the style for the label */
.dropDown-toggle-label-QR {
    position: relative;
    padding: 10px 50px 25px 10px;
    background-color: white;
    color: black;
    border-radius: 3px;
    font-family: Helvetica;
    font-size: 14px;
    transition: opacity .2s ease;
    letter-spacing: .2px;
    /* force parent to wrap around the label tag */
    float: left;
    border: 1px solid #cdcdcd;
    min-width: 100px;
    max-height: 25px;
}

/* arrow indicator on the button */
.dropDown-toggle-label-QR:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    /* this makes the square appear as a white triangle */
    background: linear-gradient(45deg, black 50%, transparent 0);
    position: absolute;
    right: 15px;
    top: 35%;
    transform: rotate(-45deg);
}

/* hide all input fields since the labels are connected to them by the id */
.dropDown-wrapper-QR input {
    display: none;
}

/* rotate the button arrow upwards */
.dropDown-wrapper-QR>input:checked+label:after {
    top: 45%;
    transform: rotate(135deg);
}

/* this will show dropDown when input is checked */
.dropDown-wrapper-QR>input:checked+label+.dropDown-QR {
    display: inline-block;
    z-index: 2;
    background-color: #fff;
}

/* the drop-down style*/
.dropDown-QR {
    position: absolute;
    right: 0;
    top: calc(100%);
    padding: 0 0 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 4px 0 4px 4px;
    min-width: 180px;
    display: none;
}

/* the drop-down options style*/
.dropDown-QR label {
    display: block;
    padding: 12px 12px;
    border-left: 0 solid transparent;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.9;
    transition:
        border .3s ease,
        padding-left .3s ease,
        background-color .3s ease;
}

/* option item on hover */
.dropDown-QR label:hover {
    background-color: #cdcdcd;
}

/* this shows that the list item was selected */
.dropDown-QR input:checked+label {
    opacity: 1;
    background-color: rgba(180, 180, 180, .2);
}

/* #ednregion */

/* #endregion */




.category-container {
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 32px;
}

.category-container img {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
}

.category-headline {
    font-size: 33px;
    font-weight: 600;
    line-height: 39.6px;
    margin: 10px 0;
}

.category-sub-headline {
    font-size: 27px;
    font-weight: 600;
    line-height: 32.4px;
    margin: 10px 0;
}

.category-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 10px 0;
}


.border-line {
    border-bottom: 1px solid #877D74;
    width: 100vw;
    margin-top: -1px;
    height: 1px;
    max-width: 0 auto;
    position: relative;
}

/* #endregion */

.cart-sum {
    font-size: 23px;
    font-weight: 600;
    line-height: 27.6px;
    text-align: left;
    display: grid;
    gap: 0px;
    grid-template-columns: auto 50%;
    margin: 24px 0;
}

.cart-sum.total {
    font-size: 27px;
    font-weight: 600;
    line-height: 32.4px;
    text-align: left;
}

.cart-sum .left {
    text-align: left;
}

.cart-sum .right {
    text-align: right;
}

.btn-payment {
    background-color: #3B403D;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 32px;
    width: max-content;
    float: right;
    margin: 24px 0;
}

.btn-payment:hover {
    opacity: 0.8;
}


.cart-container {
    display: grid;
    grid-template-columns: 306px 260px auto auto;
    gap: 25px;
    max-width: 1170px;
    width: calc(100vw - 64px);
    margin: 0 auto;
}

.c-image img {
    width: 306px;
    height: auto;
    aspect-ratio: 1;
}

.c-name {
    font-size: 27px;
    font-weight: 600;
    line-height: 32.4px;
    text-align: left;
    margin: 10px 0;
}

.c-info {
    font-size: 19px;
    font-weight: 500;
    line-height: 21.85px;
    text-align: left;
    margin: 10px 0;
}

.c-price {
    font-size: 27px;
    font-weight: 600;
    line-height: 32.4px;
    text-align: left;
    margin: 10px 0;
}


.c-remove {
    font-size: 19px;
    font-weight: 600;
    line-height: 23.75px;
    text-align: left;
    color: #AE344A;
    margin: 10px 0;
    cursor: pointer;
}

.c-remove:hover {
    opacity: 0.8;
}

.c-total {
    font-size: 33px;
    font-weight: 600;
    line-height: 39.6px;
    text-align: left;
    text-align: right;
    flex-direction: row-reverse;
}

.c-button {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    gap: 2px;
}

.c-button div {
    background: #877D741A;
    height: 48px;
    width: 48px;
    margin: 0 auto;
    line-height: 48px;
    cursor: pointer;
    font-size: 27px;
    font-weight: 600;
}

.c-button div:hover {
    opacity: 0.8;
}



@media (max-width:1200px) {}

@media (max-width:992px) {}

@media (max-width:768px) {}